<% layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/StyleSheets/ratingStars.css">

<div class="row">
    <div class="col-md-5 offset-1">
        <div class="card mb-4">
            <!-- Using Carosole fetaure from bootstrap 5 -->
            <div id="CampgroundPictureSlide" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <% if(campground.images.length > 0) { %>
              <div class="carousel-indicators">
                <% campground.images.forEach((img, index) => { %>
                <button type="button" data-bs-target="#CampgroundPictureSlide" data-bs-slide-to="<%= index %>" class=<%= index==0 ? 'active':'' %> aria-current="true" aria-label="Slide <%= index %>"></button>
                <% }) %>
              </div>
              <div class="carousel-inner">
                <% campground.images.forEach((img, index) => { %>
                  <div class="carousel-item <%= index===0 ? 'active':'' %>">
                    <img src="<%= img.url  %>" class="d-block w-100" alt="Camp images">
                  </div>
                <% }) %>
              </div>
              <% } else { %>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://res.cloudinary.com/dt5g032wn/image/upload/v1683235604/CampGrounds/img_lost_s1qwfb.jpg" class="d-block w-100" alt="No images available">
                    </div>
                </div>
              <% } %>
              <% if(campground.images.length > 1) {  %>
              <button class="carousel-control-prev" type="button" data-bs-target="#CampgroundPictureSlide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#CampgroundPictureSlide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <% } %>
            </div>

            <div class="card-body">
              <h5 class="card-title text-center text-uppercase"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
              <div class="text-end">
                <footer class="blockquote-footer">Featured By <span class="fw-bold"><%= campground.author.username %></span></footer>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">$ <%= campground.price %>/night</li>
            </ul>
            <% if(userLoggedIn && campground.author._id.equals(userLoggedIn._id)) { %>
              <div class="card-body text-center">
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
              </form>
              </div>
            <% } %>
            <div class="card-footer text-muted text-center">
              2 days ago
            </div>
        </div>
        
        <h3>Leave a Review</h3>
        <form class="mb-4 needs-validation" action="/campgrounds/<%= campground._id %>/reviews" method="post" novalidate>
          <div class="mb-2">
            <label for="Rating" class="form-label">Rating</label>
            <!-- <input type="range" class="form-range" name="review[ratings]" min="1" max="5" id="Rating"> -->
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[ratings]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[ratings]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[ratings]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[ratings]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[ratings]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
            <div class="valid-feedback">
              looks Good!
          </div>
          </div>
          <button class="btn btn-success btn-sm">Submit Review</button>
        </form> 
    </div>
    <div class="col-md-5 offset-1">
      <div class="row mb-3 mx-auto">
        <div class="col-md-4">
        <!-- This handles the Map in the UI -->
        <div id='map' style='width: 500px; height: 250px;'></div>
      </div>
      </div>
      <h3 class="text-center">View All Reviews</h3>
      <% if(campground.reviews.length == 0) { %>
        <h5 class="text-center text-muted p-5"> NO Reviews :( </h5>  
      <% } %>
      <% for(let review of campground.reviews) { %>
        <div class="card my-3">
          <div class="card-body">
            <p class="text-start fw-bold text-capitalize text-muted"><%= review.author.username %></p>
            <p class="starability-result" data-rating="<%= review.ratings %>">
              Rated: <%= review.ratings %> stars
            </p>
            <p class="card-text"><%= review.body %> </p>
            <!-- <div class="text-end">
              <footer class="blockquote-footer"><span class="text-muted"><%= review.author.username %></span></footer>
            </div> -->
            <% if(userLoggedIn && review.author._id.equals(userLoggedIn._id)) { %>
            <div class="text-end">
              <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-outline-danger">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      <% } %> 
    </div>
</div>

<!-- Handling and passing the mapbox token[from env] and location[in campground] to our map display script file -->
<script>
  const mapbox_token = '<%- process.env.MAPBOX_TOKEN %>';
  const geoLocation = '<%- JSON.stringify(campground) %>';
</script>
<script src="/JavaScripts/mapboxMap.js"></script>